<!DOCTYPE html>
<!DOCTYPE html>
<html>

<body background="/static/pic/1.png" >

    <h1 style="font-family:Copperplate, Papyrus, fantasy;font-size:51px;color:purple;text-align: center" >Happy Anniversary!</h1>
    <p style="font-family:'Courier New', monospace;font-size:41px;color:Blue;text-align: center" >
        A marriage is full of many ups and downs, adventures, and incredible memories with the person you love. Here I dedicate this to you my sweetheart!!
        <br>
    <a href="https://youtube.com/shorts/u2iNwjzsjPw" style="font-family:Comic Sans MS;font-size:31px;color:Crimson">Wanna Watch Short? Click Here</a>
              <div style="text-align: center">
        <p style="font-family:Copperplate, Papyrus, fantasy;font-size:30px;color:DarkMagenta;text-align: center"> Husband and wife relationships are like the relationship of Tom and Jerry. Though they are teasing and fighting, but can’t live without each other.”
</p>
            <a href="{{ url_for('card_view', index=0)}}" style="font-family:Copperplate, Papyrus, fantasy;font-size:41px;color:Green;">Memories</a>
    <p style="font-family:'Brush Script MT', cursive;font-size:41px;color:Black; text-align: center" >
        A great marriage is not when the "perfect couple" comes together. It is when an imperfect couple learns to enjoy their differences!
   </p>
        <p style="font-family:Copperplate, Papyrus, fantasy;font-size:35px;color:Brown;text-align: center" >The moment!!!
            <br>
<iframe width="800" height="500" src="https://www.youtube.com/embed/wn0cwgNYZ3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </p>



    <br><br><br><br><br><br><br><br><br><br><br>
    <footer style="font-family:Trebuchet MS;text-align: center">
  <p >Credits: Anand Maragur
      <br>
  <a href="mailto:anandmaragur@gmail.com">anandmaragur@gmail.com</a>
  </p>
</footer>
</body>
</html>